<header class="p-3 text-bg-dark">
  <div class="container" style="height: 50px">
    <div class="col-12">
      <div class="text-white" style="font-size:30px"><%= link_to 'FlyRexy', root_path, class: 'no_line' %></div>
<!--      <div class="text-end">-->
<!--        <button type="button" class="btn btn-outline-light me-2">Login</button>-->
<!--        <button type="button" class="btn btn-warning">Sign-up</button>-->
<!--      </div>-->
    </div>
  </div>
</header>